<div class="container">
   <div class="row">
      <div class="col-md-6">
         <h3>Social Login</h3>
         <ul class="list-unstyled social-user">
            <li><a href="#" title="Login with Facebook" class="facebook"><i class="fa fa-facebook"></i><span>Login with Facebook</span></a></li>
            <li><a href="#" title="Login with Google Plus" class="google"><i class="fa fa-google-plus"></i><span>Login with Google</span></a></li>
            <li><a href="#" title="Login with Twitter" class="twitter"><i class="fa fa-twitter"></i><span>Login with Twitter</span></a></li>
            <li><a href="#" title="Login with Wordpress" class="wordpress"><i class="fa fa-wordpress"></i><span>Login with Wordpress</span></a></li>
         </ul>
         <!-- /.social-user -->
      </div>
      <!-- /.col-*-6 -->
      <div class="col-md-6">
         <h3>Sign In</h3>
         <form role="form" action="your-script.php">
            <div class="form-group">
               <input type="email" class="form-control form-control-lg" placeholder="Enter email">
            </div>
            <div class="form-group">
               <input type="password" class="form-control form-control-lg" placeholder="Password">
            </div>
            <div class="form-group checkbox small">
               <label>
               <input type="checkbox">
               Remember Me </label>
            </div>
            <p class="text-center">
               <button class="btn btn-default btn-block btn-lg btn-inverse" type="submit"><i class="fa fa-lock"></i> Sign in</button>
            </p>
         </form>
         <p class="text-center clear"><a href="#" class="link-underline">Forgot your password?</a> <br>
            Don't have an account yet? <a class="link-underline" href="sign-up.html">Sign up</a> 
         </p>
      </div>
      <!-- /.col-*-6 -->
   </div>
   <!-- /.row -->
</div>
<!-- /.container -->
