<div class="container">
<!-- .container for entire page -->
   
   <!-- uses bigtext.js plugin AND clever use of the responsive utilities and the grid // unless you use the same character count, the results will vary -->
   <div class="row sixteen-gutter big-text-banner-wrapper">
      <div class="col-lg-3">
         <h3 class="big-text-banner">
            <span class="hidden-lg">Unique &middot; Different</span>
            <span class="visible-lg">Different</span>
            <span class="visible-lg">Interesting</span>
            <span>10 Color Combos <span class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block"> &middot; Clean</span></span>
            <span class="visible-lg">Clean &middot; Pro</span>
            <span class="visible-lg">Many Components</span>
         </h3>
      </div>
      <div class="col-lg-9 visible-lg">
         <h3 class="big-text-banner big-text-main-headline"><span>Unique</span></h3>
      </div>
   </div><!-- .row .sixteen-gutter -->
   
   
       
      
   <!-- _________ SLICK SLIDER SINGLE CAROUSEL AND COLUMN EQUAL HEIGHT ___________ -->
   <div class="row sixteen-gutter">
      <div class="col-sm-5 col-sm-push-7 col-md-4 col-md-push-8">
         <div class="column-inner column-featured">
            <h3 class="h2 column-featured-headline">Think Differently</h3>
            <p class="lead">
               If the height of this box is shorter (naturally) then the height of the image in the slider, at the 768px min-width a fake column extends on resize/load.
            </p>
            <p>
               This box is not part of the slider. For a slider like that, see the <a href="equal-column-slider.html" class="link-underline">Equal Column Slider</a>.
            </p>
            <p>
            <a class="btn btn-featured btn-lg" href="#">Get More Info <i class="fa fa-arrow-right fa-fw"></i></a>
            </p>
            <span class="column-bg-fake">
               <!-- this is a fake column that follows the height of the carousel image -->
            </span> 
         </div>
         <!--/.column-inner .column-featured-->
      </div>
      <!--/.col-x-x-->
      
      <hr class="visible-xs vertical-spacer vertical-spacer-xs">
      <!-- add some vertical spacing when stacked -->
      
      <div class="col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4">
         <div class="featured-carousel single-item-carousel slick-dots-left fade-hover-img">
         
            <div class="slick-slider-item">
               <figure>
                  <a href="blog-summary-masonry-layout.html"><img src="assets/demo-images/featured-slick-carousel/a.jpg" alt=""></a>
                  <figcaption class="info-text-box">Credit: <a class="link-underline external" href="http://graphicburger.com" target="_blank">Graphic Burger</a>. Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale.</figcaption>
               </figure>
            </div>
            <!--/.slick-slider-item-->
         
            <div class="slick-slider-item">
               <figure>
                  <a href="blog-summary-masonry-layout.html"><img src="assets/demo-images/featured-slick-carousel/featured-buddha.jpg" alt=""></a>
                  <figcaption class="info-text-box">Credit: Christina Arasmo/Theme Designer. Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo black-eyed pea.</figcaption>
               </figure>
            </div>
            <!--/.slick-slider-item-->
            <div class="slick-slider-item">
               <figure>
                  <a href="blog-summary-masonry-layout.html"><img src="assets/demo-images/featured-slick-carousel/2.jpg" alt=""></a>
                  <figcaption class="info-text-box">Credit: Christina Arasmo/Theme Designer. Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut jícama green bean celtuce collard greens avocado quandong fennel gumbo black-eyed pea.</figcaption>
               </figure>
            </div>
            <!--/.slick-slider-item-->
         </div>
      </div>
      <!--/.col-x-x-->
   </div>
   <!--/.row sixteen-gutter-->
   
   <!-- VERTICAL SPACING -->
   <hr class="vertical-spacer vertical-spacer-lg">
   
   <!-- _________ CALL TO ACTION ___________ -->
   <div class="call-to-action">
      <!-- call to action is set up for one or more lines, if more than one line it centers -->
      <h3 class="call-to-action-text">Beesknees Bootstrap Theme.</h3>
      <a class="btn btn-call-to-action btn-lg" href="tall-logo.html" role="button">Tall Logo</a>
   </div>
   <!-- /.call-to-action -->
   
   
   <!-- VERTICAL SPACING -->
   <hr class="vertical-spacer vertical-spacer-lg">
   
   
   <div class="headline-inline">
      <h3 class="headline">
         Featured
      </h3>
      <a class="headline-link" href="#"><i class="ti ti-arrow-right"></i> See More</a>
   </div>
   <!-- /.headline-inline -->
   <div class="multi-item-slick slick-dots-left fade-hover-img">
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/dropsoul-me.jpg" alt="">
               <figcaption>
                  <h3>Dive Deep Fishy</h3>
                  <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery.</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: Christina Arasmo/Theme Designer</p>
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/7ptstar-me.jpg" alt="">
               <figcaption>
                  <h3>7 Pointed Star</h3>
                  <p>Grape silver beet watercress potato tigernut corn groundnut.</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: Christina Arasmo/Theme Designer</p>
      </div>
      <!-- /.slick-slider-item -->  
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/1383113606.jpg" alt="">
               <figcaption>
                  <h3>The Italic Poster</h3>
                  <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut.</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: <a class="external link-underline" href="http://www.flickr.com/photos/asthmatic/1383113606/">asthmatic</a> via <a class="external link-underline" href="http://photopin.com">photopin</a> <a class="external link-underline" href="http://creativecommons.org/licenses/by-nd/2.0/">cc</a>.</p>
      </div>
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/buddha-me.jpg" alt="">
               <figcaption>
                  <h3>See Yourself In Others</h3>
                  <p>All beings tremble before violence. All fear death. All love live. See yourself in others, then what harm can you do?</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: Christina Arasmo/Theme Designer</p>
      </div>
      <!-- /.slick-slider-item -->   
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/om-me.jpg" alt="">
               <figcaption>
                  <h3>Om Sweet Aum</h3>
                  <p>A retro Om design I created a long, long time ago.</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: Christina Arasmo/Theme Designer</p>
      </div>
      <!-- /.slick-slider-item -->                  
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/2191568652.jpg" alt="">
               <figcaption>
                  <h3>See Yourself In Others</h3>
                  <p>All beings tremble before violence. All fear death. All love live. See yourself in others, then what harm can you do?</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: <a class="external link-underline" href="http://www.flickr.com/photos/karenhorton/2191568652/">karen horton</a> via <a class="external link-underline" href="http://photopin.com">photopin</a> <a class="external link-underline" href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>
      </div>
      <!-- /.slick-slider-item -->      
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/3210096256.jpg" alt="">
               <figcaption>
                  <h3>Title Goes Here</h3>
                  <p>Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage lettuce tomato kale.</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: <a class="external link-underline" href="http://www.flickr.com/photos/ollieolarte/3210096256/">olarte.ollie</a> via <a class="external link-underline" href="http://photopin.com">photopin</a> <a class="external link-underline" href="http://creativecommons.org/licenses/by-sa/2.0/">cc</a>.</p>
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
         <a href="portfolio-masonry.html">
            <figure>
               <img data-lazy="assets/demo-images/latest-work-slick/6995883979.jpg" alt="">
               <figcaption>
                  <h3>Title Goes Here</h3>
                  <p>Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage.</p>
               </figcaption>
            </figure>
         </a>
         <p class="credit">Credit: <a class="external link-underline" href="http://www.flickr.com/photos/chrispiascik/6995883979/">Chris Piascik</a> via <a class="external link-underline" href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nd/2.0/">cc</a>.</p>
      </div>
      <!-- /.slick-slider-item -->           
   </div>
   <!-- /.multi-item-slick -->
   
   <!-- VERTICAL SPACING -->
   <hr class="vertical-spacer vertical-spacer-lg">
   
   
   <div class="headline-inline">
      <h3 class="headline">
         50 Helens Agree
      </h3>
      <a class="headline-link" href="#"><i class="ti ti-arrow-right"></i> More Testimonails</a>
   </div>
   <!-- /.headline-inline -->
   
   <!-- ______________ TESTIMONIAL SLIDER :: USES slick slider______________ -->
   <div class="testimonial-slider slick-dots-left">
      <div class="slick-slider-item">
         <!-- testimonial in quote box -->
         <div class="testimonial ">
            <blockquote>
               <p>I agree with Helen. This theme is very practical and it looks good too. Helen has great taste, like me. Why, just the other day she commented on how cute my husband is. Helen needs to back off.</p>
            </blockquote>
         </div>
         <!-- /.testimonial -->
         <div class="author-wrapper">
            <div class="arrow">
            </div>
            <!-- /.arrow -->
            <div class="cite">
               Helen, <span>a person</span>
            </div>
            <!-- /.author-wrapper -->
         </div>
         <!-- end testimonial in quote box chunk -->
      </div>
      <!-- /.slick-slider-item --> 
      <div class="slick-slider-item">
         <!-- testimonial in quote box -->
         <div class="testimonial ">
            <blockquote>
               <p>Helen is no idiot. I also dig this theme and hope people buy it so that the person who made it can eat more vegetables, 'cause organic veggies are a rip off.</p>
            </blockquote>
         </div>
         <!-- /.testimonial -->
         <div class="author-wrapper">
            <div class="arrow">
            </div>
            <!-- /.arrow -->
            <div class="cite">
               Helen, <span>a person</span>
            </div>
            <!-- /.author-wrapper -->
         </div>
         <!-- end testimonial in quote box chunk -->
      </div>
      <!-- /.slick-slider-item --> 
      <div class="slick-slider-item">
         <!-- testimonial in quote box -->
         <div class="testimonial ">
            <blockquote>
               <p>I think this theme rocks. I especially like the menu and the way the header looks. And, btw, I wasn't making the moves on Helen's husband. I prefer cats. Helen needs to chill.</p>
            </blockquote>
         </div>
         <!-- /.testimonial -->
         <div class="author-wrapper">
            <div class="arrow">
            </div>
            <!-- /.arrow -->
            <div class="cite">
               Helen, <span>a person</span>
            </div>
            <!-- /.author-wrapper -->
         </div>
         <!-- end testimonial in quote box chunk -->
      </div>
      <!-- /.slick-slider-item --> 
   </div>
   <!-- /.testimonial-slider --> 
   
   <!-- VERTICAL SPACING -->
   <hr class="vertical-spacer vertical-spacer-lg">
   
   
   <div class="headline-inline">
      <h3 class="headline">
         Words & Pictures
      </h3>
      <a class="headline-link" href="#"><i class="ti ti-arrow-right"></i> Learn About This</a>
   </div>
   <!-- /.headline-inline -->
   <div class="row equal-height-content-box ten-gutter fade-hover-img">
      <!-- makes the .content all the same height so that the buttons line up -->
      <div class="col-sm-6 col-md-3">
         <div class="equal-height-inner">
            <a href="#">
            <img class="img-responsive" src="assets/demo-images/equal-height-col/1.jpg" alt="">
            </a>
            <div class="equal-height-content">
               <h3 class="equal-height-title">
                  Business Card
               </h3>
               <p class="equal-height-text">Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
               <p class="credit">Credit:  <a class="link-underline external" href="http://graphicburger.com" target="_blank">Graphic Burger</a>.</p>
            </div>
            <!-- / col-* > .equal-height-content -->
            <p class="equal-height-btn"><a class="btn btn-inverse btn-lg" href="#" role="button">More</a></p>
         </div>
         <!--/.equal-height-inner-->
      </div>
      <!-- / col-* -->
      <div class="col-sm-6 col-md-3">
         <div class="equal-height-inner">
            <a href="#">
            <img class="img-responsive" src="assets/demo-images/equal-height-col/2.jpg" alt="">
            </a>
            <div class="equal-height-content">
               <h3 class="equal-height-title">
                  Branding 
               </h3>
               <p class="equal-height-text">Cabbage lotus root sea lettuce brussels sprout cabbage. Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage.</p>
               <p class="credit">Credit:  <a class="link-underline external" href="http://graphicburger.com" target="_blank">Graphic Burger</a>.</p>
            </div>
            <!-- / col-* > .equal-height-content -->
            <p class="equal-height-btn"><a class="btn btn-inverse btn-lg" href="#" role="button">More</a></p>
         </div>
         <!--/.equal-height-inner-->
      </div>
      <!-- / col-* -->
      <div class="col-sm-6 col-md-3">
         <div class="equal-height-inner">
            <a href="#">
            <img class="img-responsive" src="assets/demo-images/equal-height-col/3.jpg" alt="">
            </a>
            <div class="equal-height-content">
               <h3 class="equal-height-title">
                  Give Me Sign
               </h3>
               <p class="equal-height-text">Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut.</p>
               <p class="credit">Credit:  <a class="link-underline external" href="http://graphicburger.com" target="_blank">Graphic Burger</a>.</p>
            </div>
            <!-- / col-* > .equal-height-content -->
            <p class="equal-height-btn"><a class="btn btn-inverse btn-lg" href="#" role="button">More</a></p>
         </div>
         <!--/.equal-height-inner-->
      </div>
      <!-- / col-* -->
      <div class="col-sm-6 col-md-3">
         <div class="equal-height-inner">
            <a href="#">
            <img class="img-responsive" src="assets/demo-images/equal-height-col/4.jpg" alt="">
            </a>
            <div class="equal-height-content">
               <h3 class="equal-height-title">
                  Pocket Folder for your stuff
               </h3>
               <p class="equal-height-text">Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage lettuce tomato kale arugula melon sierra leone bologi rutabaga tigernut. </p>
               <p class="credit">Credit:  <a class="link-underline external" href="http://graphicburger.com" target="_blank">Graphic Burger</a>.</p>
            </div>
            <!-- / col-* > .equal-height-content -->
            <p class="equal-height-btn"><a class="btn btn-inverse btn-lg" href="#" role="button">More</a></p>
         </div>
         <!--/.equal-height-inner-->
      </div>
      <!-- / col-* -->
   </div>
   <!-- /.row -->
   
   <!-- VERTICAL SPACING -->
   <hr class="vertical-spacer vertical-spacer-lg">
   
   
   <div class="headline-inline">
      <h3 class="headline">
         Clients
      </h3>
      <a class="headline-link" href="#"><i class="ti ti-arrow-right"></i> More Clients</a>
   </div>
   <!-- /.headline-inline -->   
   
   
   
   <!-- ______________ MULI ITEM SLICK MINI (notice the -mini) :: USES slick slider______________ -->
   <div class="multi-item-slick-mini slick-dots-left">
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-1.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-2.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-3.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-4.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-5.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-6.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-7.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->  
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-1.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-2.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-3.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-4.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-5.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-6.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->    
      <div class="slick-slider-item">
        <img src="assets/demo-images/fakelogo/fake-logo-7.png" alt="" />
      </div>
      <!-- /.slick-slider-item -->  
   </div>
   <!-- /.multi-item-slick-mini -->   
      
</div>
<!-- / .container -->
