<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Knacking</title>
  <meta name="description" content="Image Logo : Be Different Bootstrap Theme - a different, unique theme with 10 different color combos. Built with Bootstrap, custom css3, html5, and plenty of excellent components, sliders, and other useful elements">
  
  <!-- BASE CSS ============================================== -->
  <!-- custom build of latest bootstrap see json or follow the link in the file ============================================== -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  
  <!-- ASSET CSS (if you are on a secure server remove the http: but not the // it won't work local but will work for both http and httpS ============================================== -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/theme-assets.min.css" rel="stylesheet" type="text/css">
  
  <!-- LOGO FONT, replace with your own ============================================== -->
  <link href="assets/css/logo-font.css" rel="stylesheet" type="text/css">
  
  <!-- THEME CSS (unminified TOC version w/purchase) ============================================== -->
  <link href="assets/css/b-different-bw.min.css" rel="stylesheet" type="text/css">
  
  <!-- STYLE SWITCHER ============================================== -->
  <link rel="stylesheet" href="assets/switcher/switcher.css" type="text/css" />
  
  <!-- SCRIPTS IN HEAD ============================================== -->
  <script src="assets/js/modernizr.2.8.3.js"></script>
  
  <!--[if lt IE 9]>
   <script src="assets/js/respond.min.js"></script>
   <![endif]-->
  
  <!-- +++++++ jQuery library ============================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
   if (!window.jQuery) {
       document.write('<script src="assets/js/jquery-1.11.1.min.js"><\/script>');
   }
   </script>
  
  <!-- WINDOWS 8 Phones BUG FIX -->
  <script src="assets/js/windows-fix.js"></script>